<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=adatumstoragevivekm;AccountKey=qov6RpxxMXsyoaTUuVd9/kxmmzHhcW/XonlXTp59Ar760r68aSFrKuhPupqNjsYjyOCitBGSPWGIED3ef54MFw==;EndpointSuffix=core.windows.net"/>
<!--can store actual cloud storage or  use develipmenttstorage=true point to local emulator wihch present in local-->
</appSettings>
</configuration>